.home {
  p,a,h1,h2,h3,h5 {
    color: var(--text-color)
  };
}

.icon-card {
  max-height: 35px;
  margin: 0;
  filter: var(--svg-color);

}

.card {
  display: block;
  position: relative;
  max-width: 262px;
  min-width: 150px;
  background-color: var(--card-background);
  border-radius: 4px;
  padding: 32px 24px;
  margin: 12px;
  text-decoration: none;
  z-index: 1;
  overflow: hidden;
  backdrop-filter: blur(5px);
  box-shadow: 0 0 2px var(--card-border-color);
  will-change: filter;
  transition: transform 250ms;

  &:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: -16px;
    right: -16px;
    background: var(--card-arrow-color);
    height: 32px;
    width: 32px;
    border-radius: 32px;
    transform: scale(1);
    transform-origin: 50% 50%;
    transition: transform 0.25s ease-out;
  }

  &:hover:before {
    transform: scale(21);
  }
}

.card:hover {
  transform: scale(1.2);

  p,h3 {
    transition: all 0.3s ease-out;
  }
}

.card-corner {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  width: 32px;
  height: 32px;
  overflow: hidden;
  top: 0;
  right: 0;
  background-color: var(--card-arrow-color);
  border-radius: 0 4px 0 32px;
}

.card-arrow {
  margin-top: -4px;
  margin-right: -4px;
  font-family: courier, sans;
}


.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}

.docs-list {
  width: 100%;
  max-width: 95vw;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row !important;
  justify-content: space-evenly;
}

.docs-text {
  display: flex;
  justify-content: center;
  align-items: center;
}

.scalar-content {
  width: 100vw;
  text-align: left;
}

.home {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 65px 15vw 100px;
  padding: 0 auto;
  text-align: center;

}

.footer-msg {
  height: 35px;
  width: 100vw;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.9rem;
}

.social {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  margin: auto auto 15px;
  justify-content: center;
  font-size: 0.8rem;

  p {
    padding: 0 10px;
    margin: 0 10px;
  }

  a {
    text-decoration: underline;
    transition: transform .2s;
    color: var(--text-color);

    &:hover {
      color: var(--a-color);
      text-decoration: underline;
    }
  }
}