:root {
    .darklight {
        display: none !important;
    }

    .light-mode {
        --scalar-background-1: #fff6eb;
        --scalar-background-2: #fff0de;
        --scalar-background-3: #ffead1;

        --scalar-color-1: #2a2f45;
        --scalar-color-2: #757575;
        --scalar-color-3: #8e8e8e;

        --scalar-scrollbar-color: rgba(0, 0, 0, .18);
        --scalar-scrollbar-color-active: rgba(0, 0, 0, .36);

        --scalar-button-1: rgba(0, 0, 0, 1);
        --scalar-button-1-hover: rgba(0, 0, 0, .8);
        --scalar-button-1-color: rgba(255, 255, 255, .9);

        --scalar-shadow-1: 0 1px 3px 0 rgba(0, 0, 0, .11);
        --scalar-shadow-2: rgba(0, 0, 0, .08) 0px 13px 20px 0px, rgba(0, 0, 0, .08) 0px 3px 8px 0px, #eeeeed 0px 0 0 1px !important;


        --text-color: var(--scalar-color-1);
        --a-color: var(--scalar-color-1);
        --btn-color: var(--color-none);
        --btn-border-color: var(--scalar-color-1);
        --bg-color: var(--scalar-background-1);

        --card-background: var(--color-11);
        --card-arrow-color: var(--bg-color);
        --card-border-color: var(--scalar-color-2);
        --background-color: var(--bg-color);
    }

    .dark-mode {
        /* background main div  */
        --scalar-background-1: #2a2f45;
        /* background request and item selected  */
        --scalar-background-2: #151722;
        /* background request and item selected  */
        --scalar-background-3: #272727;

        --scalar-color-1: #fdfcf3;
        --scalar-color-2: #e3e2da;
        --scalar-color-3: #b1b0aa;

        --scalar-scrollbar-color: rgba(255, 255, 255, .18);
        --scalar-scrollbar-color-active: rgba(255, 255, 255, .36);

        --scalar-button-1: #fdfcf4;
        --scalar-button-1-hover: #fdfcf6;
        --scalar-button-1-color: black;

        --scalar-shadow-1: 0 1px 3px 0 rgb(0, 0, 0, .1);
        --scalar-shadow-2: rgba(15, 15, 15, .2) 0px 3px 6px, rgba(15, 15, 15, .4) 0px 9px 24px, 0 0 0 1px rgba(255, 255, 255, .1) !important;


        --text-color: var(--scalar-color-1);
        --a-color: var(--scalar-color-1);
        --btn-color: var(---color-none);
        --btn-border-color: var(--scalar-color-1);
        --bg-color: var(--scalar-background-1);

        --card-background: var(--color-11);
        --card-arrow-color: var(--bg-color);
        --card-border-color: var(--scalar-color-2);
        --background-color: var(--bg-color);
    }
}

/*  scalar color scheme complete */

.scalar-color-scheme-extracted {
    .light-mode {
        --scalar-background-1: #fff;
        --scalar-background-2: #f6f6f6;
        --scalar-background-3: #e7e7e7;
        --scalar-background-accent: #8ab4f81f;
        --scalar-color-1: #2a2f45;
        --scalar-color-2: #757575;
        --scalar-color-3: #8e8e8e;
        --scalar-color-accent: #0099ff;
        --scalar-border-color: rgba(0, 0, 0, .1)
    }

    .dark-mode {
        --scalar-background-1: #0f0f0f;
        --scalar-background-2: #1a1a1a;
        --scalar-background-3: #272727;
        --scalar-background-accent: #3ea6ff1f;
        --scalar-color-1: rgba(255, 255, 255, .9);
        --scalar-color-2: rgba(255, 255, 255, .62);
        --scalar-color-3: rgba(255, 255, 255, .44);
        --scalar-color-accent: #3ea6ff;
        --scalar-border-color: rgba(255, 255, 255, .1)
    }

    .light-mode {
        --scalar-color-green: #069061;
        --scalar-color-red: #ef0006;
        --scalar-color-yellow: #edbe20;
        --scalar-color-blue: #0082d0;
        --scalar-color-orange: #fb892c;
        --scalar-color-purple: #5203d1;
        --scalar-button-1: rgba(0, 0, 0, 1);
        --scalar-button-1-hover: rgba(0, 0, 0, .8);
        --scalar-button-1-color: rgba(255, 255, 255, .9)
    }

    .dark-mode {
        --scalar-color-green: #00b648;
        --scalar-color-red: #dc1b19;
        --scalar-color-yellow: #ffc90d;
        --scalar-color-blue: #4eb3ec;
        --scalar-color-orange: #ff8d4d;
        --scalar-color-purple: #b191f9;
        --scalar-button-1: rgba(255, 255, 255, 1);
        --scalar-button-1-hover: rgba(255, 255, 255, .9);
        --scalar-button-1-color: black
    }

    .light-mode {
        color-scheme: light;
        --scalar-scrollbar-color: rgba(0, 0, 0, .18);
        --scalar-scrollbar-color-active: rgba(0, 0, 0, .36);
        --scalar-button-1: rgba(0, 0, 0, 1);
        --scalar-button-1-hover: rgba(0, 0, 0, .8);
        --scalar-button-1-color: rgba(255, 255, 255, .9);
        --scalar-shadow-1: 0 1px 3px 0 rgba(0, 0, 0, .11);
        --scalar-shadow-2: rgba(0, 0, 0, .08) 0px 13px 20px 0px, rgba(0, 0, 0, .08) 0px 3px 8px 0px, #eeeeed 0px 0 0 1px;
        --scalar-sidebar-indent-border: transparent;
        --scalar-sidebar-indent-border-hover: transparent;
        --scalar-sidebar-indent-border-active: transparent
    }

    .dark-mode {
        color-scheme: dark;
        --scalar-scrollbar-color: rgba(255, 255, 255, .18);
        --scalar-scrollbar-color-active: rgba(255, 255, 255, .36);
        --scalar-button-1: rgba(255, 255, 255, 1);
        --scalar-button-1-hover: rgba(255, 255, 255, .9);
        --scalar-button-1-color: black;
        --scalar-shadow-1: 0 1px 3px 0 rgb(0, 0, 0, .1);
        --scalar-shadow-2: rgba(15, 15, 15, .2) 0px 3px 6px, rgba(15, 15, 15, .4) 0px 9px 24px, 0 0 0 1px rgba(255, 255, 255, .1);
        --scalar-sidebar-indent-border: transparent;
        --scalar-sidebar-indent-border-hover: transparent;
        --scalar-sidebar-indent-border-active: transparent
    }

    /* @media (max-width: 460px) */
    /* @media (max-width: 720px) */
}