#root {
  width: 100vw;
  margin: 0;
  padding: 0;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}

.docs-list {
  width: 100%;
  max-width: 95vw;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row !important;
  justify-content: space-evenly;
}

.docs-card {
  background-color: #272727;
  min-width: 150px;
  border: 1px solid white;
  border-radius: 5px;
  will-change: filter;
  transition: transform 250ms;
  margin: 10px auto;
  padding: 15px;
}

.docs-text {
  display: flex;
  justify-content: center;
  align-items: center;
}

.docs-card:hover {
  box-shadow: 0 0 10px rgba(255, 255, 255, .9);
  transform: scale(1.2);
}

.border-gg {
  width: 100vw;
  text-align: left;
}

.home {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 65px 15vw 100px;
  padding: auto;
  text-align: center;

}

.footer {
  height: 2.3rem;
  /* position: fixed;
  left: 0;
  bottom: 0; */
  width: 100vw;
  background-color: black;
  color: white;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.9rem;
}

.social {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  margin: auto auto 15px;
  justify-content: center;
  font-size: 0.8rem;
}

.social hr {
  flex: 0 0 100%;
  border: #272727;
  margin: 0 5px;
}

.social p {
  color: white;
  padding: 0 10px;
  margin: 0 10px;
}

.social a {
  color: white;
  text-decoration: underline;
  transition: transform .2s; 
}

.social a:hover {
  color: yellow;
  text-decoration: underline;
}

.white-text {
  color: white;
  /* margin: auto 10px */
}